:root {
    --primary: #0463FA;
    --light: #EFF5FF;
    --dark: #1B2C51;
}
.page-header {
    background: url(/img/header-page.jpg) top center no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light)!important;
}